<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <style>
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
         
    </style>
</head>
<body>
    <h1>sign up</h1>

    <form method="post" action="/user">
        <label>Name:</label>
        <input type="text" name="name" placeholder="enter your name">
        <br>
        <label>Email:</label>
        <input type="email" name="email" placeholder="enter email">
        <br>
        <label>Password:</label>
        <input type="password" name="password" placeholder="enter password">
        <br>
        <button type="submit">sign up</button>
    </form>
</body>
</html>